


main, aside {
  width: 100%;
}

@media (min-width: 576px) {
  main, aside {
    width: 50%;
  }
}

aside {
  
  background-position: center center;
  background-size: cover;
  height: 400px;
  position: relative;
}

@media (min-width: 576px) {
  aside {
    height: 100vh;
    width: 100%
    /*position: fixed;*/
    /*right: 0;*/
    /*top: 0;*/
  }
}

.login-body{
  background-image: url("../images/login-bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.viewport-height{
  height: 100vh
}

.form-container{
  min-width: 50%
}

.form-container .card-body{
  background: rgba(9, 15, 15, 0.5);
}
.custom-bg{
  background: rgba(71, 8, 21, 0.7);
}

.custom-bg:hover{
  background: rgb(71, 8, 21);
}

.custom-container{
  background-color: #ffff;
  padding: 20em;
  
}


/*main {
  float: left;
  padding: 7%;
  position: relative;
}*/